/* body 공통속성 */
body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {
  margin:0;
  padding:0;
}

#container {
  overflow: hidden;
}

body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 1440px;
  height: 900px;
}

ul,ol,dl {
  list-style:none;
}

a {
  text-decoration: none;
  color:inherit;
}

img {
  border:0;
  vertical-align:top;
}

#container {
  background-color: #A7BED0; /*blue*/
  width: 1440px;
  height: 900px;
  position: relative;
}


#logo {
  display: inline-block;
  margin: 7px;
}

#gnb {
  background-color: #FC7878; /*pink*/
  position:fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 1440px;
  height: 45px;
  z-index:2;
}

#gnbListUl {
  margin-right: 10px;
  float:right;
}

.gnbList {
  display: inline-block;
  padding: 10px;
  width: 65px;
  height:25px;
}

.gnbList a {
  width: 100%;
  height: 100%;
}

#introPg {
  background-image: url("./img/create.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 1440px;
  height: 900px;
}

#scrollTxt {
  color: #B33BE7;
  font-size: 16px;
  top: 800px;
  left: 50%;
  position: absolute;
  margin: 0 0 0 -10px;
  display: none;
}

#downArrow {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 790px;
  left: 46%;
  display: none;
}

#curtain {
  display:none;
  width: 1440px;
  height: 900px;
  overflow:hidden;
}

.cards {
  display:block;
  float:left;
  width: 160px;
  height: 160px;
  background-color: #545454;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 1;
}

#aboutPanel {
  left:0;
  top:0;
  width: 1440px;
  height: 900px;
  display: none;
  background-color: #FCD68A;
  position:absolute;
}

#projectPanel {
  width: 1440px;
  height: 900px;
  display: none;
  background-color: #FBFB6D;
  position: absolute;
}

#aboutPg {
  background-color: #587E96;
  width: 1440px;
  height: 900px;
  position:relative;
  overflow:hidden;
}

#download {
  display: block;
  width: 100px;
  height: 50px;
  background-color: #F9AA00;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  /*브라우저마다 조금 달라보이지만.*/
  line-height: 50px;
  border: none;
  position: absolute;
  top: 1050px;
  left: 50%;
  margin: 0 0 10px -50px;
}

#resumeBtnTxt {
  color: #FFFFFF;
  font-size: 16px;
  display: none;
  /*text보이기 위해 쭉 */
  z-index: 5;
  text-align: center;
  margin: 0 auto;
}

.colorCover {
  background-color: #FF784E;
  width: 0px;
  height: 50px;
  line-height: 25px;
  color: #ffffff;
  font-size: 16px;
  border: none;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -50px;
}

#aboutBox {
  top:1050px;
  left:50%;
  background-color: #F9AA00;
  width: 55%;
  height: 65%;
  margin: 0 0 0 -27.5%;
  position: absolute;
  font-size: 30px;
}

.txtLines {
  display:none;
  left: 790px;
  text-align: center;
}

#texts {
  height:376px;
  padding: 105px 20px 105px 20px;
}
/*
#texts div {
  padding: 5px;
}*/

#projectsPg {
  background-color: #48C6B0;
  width: 1440px;
  height: 900px;
  position: relative;
}

#projects {
  width: 1200px;
  height: 200px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -600px;
}

.projBlock {
  width: 200px;
  height: 200px;
  background-color: #F9AA00;
  margin:0 20px 0 20px;
  display: none;
  float: left;
}

.projs {
  line-height: 200px;
  font-size: 16px;
  text-align: center;
}

#projModal {
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: 5;
  top: 900px;
  left: 50%;
  margin: -50% 0 0 -30%;
  background-color: #A7BED0;
  display:none;
}

.projName {
  width: 691.2px;
  height: 81px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 32px;
}

.projName span {
  text-align: center;
  font-size: 32px;
  display: block;
  padding: 24.5px 0 24.5px 0;
}

.projImg {
  width: 691.2px;
  height:405px;
  padding: 5px;
  position: relative;
  margin: 0 auto;
}

.projImg img{
  padding: 0 43.2px 0 43.2px;
  position: relative;
  margin: 0 auto;
}

.dim {
  z-index:4 !important;
  background-color:#000 !important;
  opacity: 0.4;
}

.cancelBtn img{
  display: block;
  width:40px;
  height:40px;
  top:0%;
  left:95%;
  position: absolute;
}

#contactPg {
  background-color: #A7BED0;
  width: 1440px;
  height: 900px;
  position:relative;
  overflow: hidden;
}

#contactPanel {
  width: 1440px;
  height: 900px;
  display: none;
  background-color: #FBD77F;
  position:absolute;
}

#contactInfo {
  background-color: #FFAF7B;
  width:70%;
  height:70%;
  top:1215px;
  left:50%;
  margin: 0 0 0 -35%;
  position: absolute;
}

#contItems {
  width:90%;
  height:90%;
  position: relative;
  cursor: default;
}

#contName {
  background-color: #EEEEEE;
  width:60%;
  height:6%;
  top: 50%;
  left: 45%;
  margin: 0 0 0 -35%;
  position: relative;
}

#contComment {
  background-color: #FFFFFF;
  width:50%;
  height:8%;
  top:70%;
  left:50%;
  font-size: 80px;
  text-align: center;
  position: relative;
}

#contNo {
  background-color: #EEEEEE;
  width:80%;
  height:5%;
  top:20%;
  left:15%;
  position: absolute;
}

.num{
  width: 60px;
  height: 60px;
  font-size: 54px;
  color: #111;
  text-align: center;
  display: inline-block;
}

.ltr {
  width: 60px;
  height: 60px;
  font-size: 54px;
  color: #111;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  }

.symb {
  width: 60px;
  height: 60px;
  font-size: 54px;
  color: #111;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.space {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.center {
  margin: 0 auto;
  width: 520px;
  position:relative;
}